* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: "./Fonts/Nunito_Sans";
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #ffffff;
}


