* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: "./Fonts/Nunito_Sans";
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #ffffff;
}
main {
  margin: 0 auto;
  width: 1320px;
}

.logo {
  height: 50%;
}

.nav-list {
  height: 80px;
  background: rgb(188, 188, 188);
  box-shadow: 0px 0px 10px #c8c8c8;
  padding: 1rem 0;
  font-size: 20px;
  text-align: center;
  list-style: none;
  position: relative;
  width: 100%;
  top: 0;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(100, 100, 100);
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 0.8rem;
}

.nav-item:last-child {
  margin-right: 2rem;
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}
.Einleitungstext {
  text-align: center;
  position: relative;
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.Bilder {
  display: flex;
  width: 700px;
  border-radius: 20px;
  position: relative;
  left: auto;
  right: auto;
  margin: 20px;
  gap: 30px;
}

footer {
  color: rgb(188, 188, 188);
  position: absolute;
  bottom: 0;
  height: 50px;
}
.WichtigeInformationen {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
