* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: "./Fonts/Nunito_Sans";
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #ffffff;
}

/* Header und Navigationsbereich */

.logo {
  height: 50%;
}

.nav-list {
  position: relative;
  height: 80px;
  width: 100%;
  top: 0;
  background: rgb(188, 188, 188);
  padding: 1rem 0;
  font-size: 24px;
  text-align: center;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(100, 100, 100);
}
/* Main Bereich */
main {
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Einleitungstext {
  background-color: rgb(246, 246, 246);
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 550px;
  margin: 0 auto;
}
.Einleitungstext p {
  color: rgb(70, 70, 70);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.BoxBilder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Bilder {
  justify-content: center;
  width: 700px;
  margin: 10px;
  padding: 20px;
  border-radius: 40px;
  position: relative;
  left: auto;
  right: auto;
}
/* Ab hier Footer */

footer {
  color: rgb(188, 188, 188);
  position: absolute;
  bottom: 0;
  height: 50px;
}
.WichtigeInformationen {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
