/* Main Bereich */
main {
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding: 50px;
  color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Einleitungstext {
  background-color: rgb(246, 246, 246);
  color: rgb(70, 70, 70);
  border-radius: 20px;
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  line-height: 24px;
}

.Einleitungstext--p {
  margin: 10px; 
}

.BoxBilder {
  margin-top: 20px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Bilder {
  padding: 20px;
  border-radius: 40px;
}

@media (width <= 1399px) {
.Bilder {
  width: 70%;
} }

@media (width >= 1400px) {
  .Bilder {
    width: 80%;
    max-width: 700px; }
  
}